################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build/Debug
/build/example1.dir/Debug
/build/external/ANTTWEAKBAR_116_OGLCORE_GLFW.dir/Debug
/build/external/assimp-3.0.1270/code/assimp.dir/Debug
/build/external/assimp-3.0.1270/code/Debug
/build/external/assimp-3.0.1270/contrib/zlib/Debug
/build/external/assimp-3.0.1270/contrib/zlib/zlib.dir/Debug
/build/external/GLEW_1130.dir/Debug
/build/external/Debug
/build/external/glfw-3.1.2/examples/boing.dir/Debug
/build/external/glfw-3.1.2/examples/Debug
/build/external/glfw-3.1.2/examples/gears.dir/Debug
/build/external/glfw-3.1.2/examples/heightmap.dir/Debug
/build/external/glfw-3.1.2/examples/particles.dir/Debug
/build/external/glfw-3.1.2/examples/simple.dir/Debug
/build/external/glfw-3.1.2/examples/splitview.dir/Debug
/build/external/glfw-3.1.2/examples/wave.dir/Debug
/build/external/glfw-3.1.2/src/Debug
/build/external/glfw-3.1.2/src/glfw.dir/Debug
/build/external/glfw-3.1.2/tests/clipboard.dir/Debug
/build/external/glfw-3.1.2/tests/cursor.dir/Debug
/build/external/glfw-3.1.2/tests/Debug
/build/external/glfw-3.1.2/tests/empty.dir/Debug
/build/external/glfw-3.1.2/tests/events.dir/Debug
/build/external/glfw-3.1.2/tests/gamma.dir/Debug
/build/external/glfw-3.1.2/tests/glfwinfo.dir/Debug
/build/external/glfw-3.1.2/tests/iconify.dir/Debug
/build/external/glfw-3.1.2/tests/joysticks.dir/Debug
/build/external/glfw-3.1.2/tests/monitors.dir/Debug
/build/external/glfw-3.1.2/tests/msaa.dir/Debug
/build/external/glfw-3.1.2/tests/reopen.dir/Debug
/build/external/glfw-3.1.2/tests/sharing.dir/Debug
/build/external/glfw-3.1.2/tests/tearing.dir/Debug
/build/external/glfw-3.1.2/tests/threads.dir/Debug
/build/external/glfw-3.1.2/tests/title.dir/Debug
/build/external/glfw-3.1.2/tests/windows.dir/Debug
/build/x64/Debug
/build/.vs/GLTutorials/v16
/source/example1/example1.exe
/source/example1/example1.h
